/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap'); 


/* resets */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.5rem;
}
a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* variables */
:root{
    --violet-color:hsl(257, 40%, 49%);
    --soft-magenta:hsl(300, 69%, 71%);
}

/* utility classes */
.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* body */
body{
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--violet-color);
    padding: 50px;
}

/* logo */
.logo{
    height: 45px;
    margin-bottom: 60px;
}

/* flex */
.content{
    position: relative;
    bottom: 75px;
}
p{   
    font-family: 'Open Sans', sans-serif;
    margin-block: 35px 30px;
}
.content p{
    width: 500px;
}
.content a{
    text-decoration: none;
    background-color: white;
    color: var(--violet-color);
    border-style: none;
    border-radius: 30px;
    padding: 10px 45px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.395);
}
.content a:hover{
    background-color: var(--soft-magenta);
    color: white;
}

/* media query */
@media screen and (max-width:375px) {
    /* body */
    body{
        background-image: url("images/bg-mobile.svg");
    }
    .flex{
        flex-direction: column;
        justify-content: center;
    }
    /* .image img{
        width: 100vw;
    } */

}